<div class="container pt-5">
    <div id="chartContainer1" style="height: 400px; width: 100%; "></div>
    <br/><br/><br/>

    <hr/>

    <h2 class="text-center">High Performance</h2>
    <p class="text-center">
         Render hundreds of thousands of Data Points without affecting the performance of your Web Applications! You can see live examples below. 
         Also try Zooming & Panning to see the performance.
    </p>
    <div id="chartContainer2" style="height: 400px; width: 100%;"></div>
    <br/><br/><br/>

    <hr/>

    <div id="chartContainer3" style="height: 400px; width: 100%;"></div>

    <br/><br/><br/>

</div>